# Masukan APP ID ambil di web my.telegram.org
API_ID = ""

# Masukan API HASH ambil di web my.telegram.org
API_HASH = ""

# Masukan String Pyrogram Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = ""

# Masukkan HNDLR Untuk buat cmd play
HNDLR = "!"

# Masukkan Id Akun Kamu 
SUDO_USERS = "5039811441"
